/*
Cores HxH
turquesa escuro #7093DB
turquesa #ADEAEA 
btn pressed #ADBAEA

Cores HxM

Cores MxM


*/

QWidget {
    height : 96px;
    background-color: white;
    font-size: 10px;
}

QMainWindow#horizontalLayout {
    height : 96px;
    background-color: #ADBAEA;
    font-size: 10px;
}

QLineEdit {
    border: 1px solid #7093DB;
    border-top: none;
}

QDoubleSpinBox {    
    border: 1px solid #7093DB;
    border-top: none;
    border-right: none;
    background: rgba(0, 0, 0, 0%);
    font-size: 18px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
}

QDoubleSpinBox:up-button  {
     subcontrol-origin: border;
     subcontrol-position: top right;
     margin: 0;
     width: 32px;
     border: none;
     background: none;
     image: none;
 }
 
  QDoubleSpinBox:down-button {
     subcontrol-origin: border;
     subcontrol-position: bottom right;
     margin: 0;
     width: 32px;
     border: none;
     background: none;
     image: none;
 } 
 
 QDoubleSpinBox:up-arrow  {
     image: url(:/graphicGui/spinup.png);
     subcontrol-origin: border;
     subcontrol-position: bottom center;
     padding-bottom: 20px;
     border: 1px solid red;
 }
 
  QDoubleSpinBox:down-arrow {
     image: url(:/graphicGui/spinup.png);
     subcontrol-origin: border;
     subcontrol-position: top center;
     padding-bottom: 20px;
     border: 1px solid green;
 }
 
/*
 QDoubleSpinBox {

    border: 1px solid #7093DB;
    border-top: none;
    border-right: none;
 }
*/

/*  
QDoubleSpinBox:up-button  {
     subcontrol-origin: border;
     subcontrol-position: top right;
     width: 16px; 
    border: 1px solid #7093DB;
 }
*/
 
/*  
 QDoubleSpinBox:down-button {
     subcontrol-origin: border;
     subcontrol-position: top right; 
     width: 16px; 
    border: 1px solid #7093DB;
 } 
 */

QPushButton {
    background-color: #7093DB;
    border-style: outset;
    border-width: 2px;
    border-radius: 10px;
    border-color: beige;
    font: bold 14px;
    min-width: 10em;
    padding: 6px;
}

QPushButton:pressed {
    background-color: #ADBAEA; /* red  */
    border-style: inset;
}


